# GCP
GCP_PROJECT_ID=
GCP_REGION=us-central1
GCP_BUCKET_RAW=
GOOGLE_APPLICATION_CREDENTIALS=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_BUCKET_RAW=

# Databricks
DATABRICKS_HOST=
DATABRICKS_TOKEN=

# NYC Open Data
NYC_APP_TOKEN=

# TfL (London)
TFL_APP_KEY=

# Airflow
AIRFLOW_UID=50000
